<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="il.co.gadiworks.thebasics"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />
    <application android:icon="@drawable/gadiworks_icon" android:label="@string/app_name">
        <activity android:name=".MyMain"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".MyMenu"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="il.co.gadiworks.thebasics.CLEARSCREEN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Sweet"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="il.co.gadiworks.thebasics.SWEET" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".TutorialOne"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="il.co.gadiworks.thebasics.TUTORIALONE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ListV"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="il.co.gadiworks.thebasics.TUTORIALTWO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".TutorialThree"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="il.co.gadiworks.thebasics.TUTORIALTHREE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".TutorialFour"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="il.co.gadiworks.thebasics.TUTORIALFOUR" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".TutorialFive"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="il.co.gadiworks.thebasics.TUTORIALFIVE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>